html{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Montserrat", sans-serif;  
}

h1 {
  font-size: 2.5rem;
  font-family: "Lobster", sans-serif;
  font-weight: lighter;
}
h2{
  font-size: 8rem;
  font-family: "Lobster", sans-serif;
  font-weight: lighter;
}

p {
  font-size: 2.5rem;
}

a{
  color: #fff;
  
}


@import "home";